# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# Virtualenv
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pipenv
Pipfile.lock

# __MACOSX files (if using macOS)
__MACOSX/
.DS_Store

# Node modules (if using JS tools in frontend)
node_modules/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log
*.out
*.err