asgiref==3.8.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
coreapi==2.3.3
coreschema==0.0.4
Django==5.1.9
django-cors-headers==4.7.0
django-filter==25.1
django-tenants==3.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
idna==3.10
itypes==1.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.2.5
pandas==2.2.3
pillow==11.2.1
psycopg2-binary==2.9.10
PyJWT==2.9.0
pyotp==2.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.0
requests==2.32.3
rest-framework-simplejwt==0.0.2
role_management @ git+https://github.com/manishturtle/RoleManagementPackage.git@8c51a85a9f70347e8d5bbb85663493beb75fd055
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.3.0
